<h1 style="color:blue;">Bienvenido: Damian 
    <a  href="http://localhost:8080/api/login/logout"
        class="btn btn-success btn-lg mb-1"
        style="float: right;"
        role="button">Desloguear
    </a>
</h1>